# Python asosiy fayllari
__pycache__/
*.py[cod]
*.pyo

# Virtuall muhit
venv/
env/
*.env
*.venv

# Flask secret key va konfiguratsiya
instance/
*.cfg
*.ini
*.env

# Loglar
*.log
logs/
debug.log


postgres_container

# Cache va vaqtinchalik fayllar
*.swp
*.swo
*.tmp
*.bak
*.orig
*.DS_Store

# Kompilyatsiya va boshqa arxiv fayllari
*.egg-info/
*.egg
*.manifest
*.spec

# IDE'lar uchun (masalan, VSCode, PyCharm)
.idea/
.vscode/
*.iml

# Platformaga oid fayllar
*.db
*.sqlite3
*.sqlite

# Docker (agar Flask loyihasida Docker ishlatilsa)
.dockerignore
docker-compose.override.yml

# Node.js (agar Frontend integratsiyasi mavjud bo‘lsa)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
postges_container