<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal portfolio</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="root">
      <header>
        <a href="#">
          <img src="./assets/icons/logo.svg" alt="logo" />
        </a>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#my-skils">My Skils</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <button class="resume-button">Resume</button>
        <div class="nav">
          <input type="checkbox" name="" id="burger-open" />
          <label for="burger-open" class="burger-button">
            <img src="./assets/icons/burger-menu.svg" alt="" />
          </label>
          <label class="modal" for="burger-open">
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
          </label>
        </div>
      </header>
      <section class="about" id="about">
        <figure>
          <img src="./assets/images/column.svg" alt="" />
        </figure>
        <div>
          <div class="about-title">
            <h1>Hello I’am <span>Evren Shah.</span></h1>
            <h1><span>Frontend</span> <span class="stroke">Developer</span></h1>
            <h1>Based In <span>India.</span></h1>
          </div>
          <p>
            I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to specimen book.
          </p>
          <div class="btn-group">
            <a href="#">
              <i data-lucide="git-compare"></i>
            </a>
            <a href="#">
              <i data-lucide="git-compare"></i>
            </a>
            <a href="#">
              <i data-lucide="git-compare"></i>
            </a>
            <a href="#">
              <i data-lucide="git-compare"></i>
            </a>
          </div>
        </div>
      </section>
      <section class="my-skil" id="my-skils">
        <h1 class="light-section-title">My <span>Skills</span></h1>

        <div class="skill_card-wrapper">
          <div class="skill_card">
            <i data-lucide="git-compare"></i>
            <h2>Git</h2>
          </div>
          <div class="skill_card">
            <i data-lucide="git-compare"></i>
            <h2>Git</h2>
          </div>
          <div class="skill_card">
            <i data-lucide="git-compare"></i>
            <h2>Git</h2>
          </div>
          <div class="skill_card">
            <i data-lucide="git-compare"></i>
            <h2>Git</h2>
          </div>
          <div class="skill_card">
            <i data-lucide="git-compare"></i>
            <h2>Git</h2>
          </div>
          <div class="skill_card">
            <i data-lucide="git-compare"></i>
            <h2>Git</h2>
          </div>
          <div class="skill_card">
            <i data-lucide="git-compare"></i>
            <h2>Git</h2>
          </div>
          <div class="skill_card">
            <i data-lucide="git-compare"></i>
            <h2>Git</h2>
          </div>
          <div class="skill_card">
            <i data-lucide="git-compare"></i>
            <h2>Git</h2>
          </div>
          <div class="skill_card">
            <i data-lucide="git-compare"></i>
            <h2>Git</h2>
          </div>
        </div>
      </section>
      <section class="experience" id="experience">
        <h1 class="dark-section-title">My <span>Experience</span></h1>

        <div class="experience-card">
          <div>
            <div class="title">
              <img src="./assets/icons/google.svg" alt="" />
              <h2>Lead Software Engineer at Google</h2>
            </div>
            <span>Nov 2019 - Present</span>
          </div>
          <p>
            As a Senior Software Engineer at Google, I played a pivotal role in
            developing innovative solutions for Google's core search algorithms.
            Collaborating with a dynamic team of engineers, I contributed to the
            enhancement of search accuracy and efficiency, optimizing user
            experiences for millions of users worldwide.
          </p>
        </div>
        <div class="experience-card">
          <div>
            <div class="title">
              <img src="./assets/icons/youtube.svg" alt="" />
              <h2>Software Engineer at Youtube</h2>
            </div>
            <span>Jan 2017 - Oct 2019</span>
          </div>
          <p>
            At Youtube, I served as a Software Engineer, focusing on the design
            and implementation of backend systems for the social media giant's
            dynamic platform. Working on projects that involved large-scale data
            processing and user engagement features, I leveraged my expertise to
            ensure seamless functionality and scalability.
          </p>
        </div>
        <div class="experience-card">
          <div>
            <div class="title">
              <img src="./assets/icons/apple.svg" alt="" />
              <h2>Junior Software Engineer at Apple</h2>
            </div>
            <span>Nov 2019 - Present</span>
          </div>
          <p>
            During my tenure at Apple, I held the role of Software Architect,
            where I played a key role in shaping the architecture of
            mission-critical software projects. Responsible for designing
            scalable and efficient systems, I provided technical leadership to a
            cross-functional team.
          </p>
        </div>
      </section>
      <section class="about me" id="about-me">
        <figure>
          <img src="./assets/images/me.svg" alt="" />
        </figure>
        <div>
          <h1 class="light-section-title">About <span>Me</span></h1>
          <p>
            I'm a passionate, self-proclaimed designer who specializes in full
            stack development (React.js & Node.js). I am very enthusiastic about
            bringing the technical and visual aspects of digital products to
            life. User experience, pixel perfect design, and writing clear,
            readable, highly performant code matters to me.
          </p>
          <p>
            I began my journey as a web developer in 2015, and since then, I've
            continued to grow and evolve as a developer, taking on new
            challenges and learning the latest technologies along the way. Now,
            in my early thirties, 7 years after starting my web development
            journey, I'm building cutting-edge web applications using modern
            technologies such as Next.js, TypeScript, Nestjs, Tailwindcss,
            Supabase and much more.
          </p>
          <p>
            When I'm not in full-on developer mode, you can find me hovering
            around on twitter or on indie hacker, witnessing the journey of
            early startups or enjoying some free time. You can follow me on
            Twitter where I share tech-related bites and build in public, or you
            can follow me on GitHub.
          </p>
        </div>
      </section>
      <section class="projects" id="projects">
        <h1 class="dark-section-title">My <span>Projects</span></h1>
        <div class="project-card_wrapper">
          <div class="project-card">
            <figure>
              <img src="./assets/images/project.png" alt="" />
            </figure>
            <div>
              <h2>01</h2>
              <h3>Crypto Screener Application</h3>
              <p>
                I'm Evren Shah Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to specimen book.
              </p>
              <button>
                <i data-lucide="external-link"></i>
              </button>
            </div>
          </div>
          <div class="project-card">
            <figure>
              <img src="./assets/images/project.png" alt="" />
            </figure>
            <div>
              <h2>01</h2>
              <h3>Crypto Screener Application</h3>
              <p>
                I'm Evren Shah Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to specimen book.
              </p>
              <button>
                <i data-lucide="external-link"></i>
              </button>
            </div>
          </div>
          <div class="project-card">
            <figure>
              <img src="./assets/images/project.png" alt="" />
            </figure>
            <div>
              <h2>01</h2>
              <h3>Crypto Screener Application</h3>
              <p>
                I'm Evren Shah Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to specimen book.
              </p>
              <button>
                <i data-lucide="external-link"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="testimonal">
        <h1 class="light-section-title">My <span>Testimonal</span></h1>

        <div class="testimonal-card_wrapper">
          <div class="testimonal-card">
            <figure>
              <img src="./assets/images/feruzbek.svg" alt="" />
            </figure>
            <div>
              <p>
                I recently had to jump on 10+ different calls across eight
                different countries to find the right owner.
              </p>
              <span></span>
              <h3>Evren Shah</h3>
              <h4>Designer</h4>
            </div>
          </div>
          <div class="testimonal-card">
            <figure>
              <img src="./assets/images/abdulloh.svg" alt="abdulloh" />
            </figure>
            <div>
              <p>
                I recently had to jump on 10+ different calls across eight
                different countries to find the right owner.
              </p>
              <span></span>
              <h3>Evren Shah</h3>
              <h4>Designer</h4>
            </div>
          </div>
          <div class="testimonal-card">
            <figure>
              <img src="./assets/images/feruzbek.svg" alt="" />
            </figure>
            <div>
              <p>
                I recently had to jump on 10+ different calls across eight
                different countries to find the right owner.
              </p>
              <span></span>
              <h3>Evren Shah</h3>
              <h4>Designer</h4>
            </div>
          </div>
        </div>
      </section>
      <section class="contact"></section>
    </div>
  </body>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
  </script>
</html>