<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="con">
        <header>
            <div class="child1">HEADER</div>
            <div class="child2">MENU</div>
            <div class="child3">HERO</div>
            <div class="child4">MAIN</div>
            <div class="child5">BANNER</div>
            <div class="child6">EXTRA</div>
            <div class="child7">IMAGE</div>
        </header>
    </div>
</body>
</html>